/* styles.css */

.skills-section {
    margin-top: 30px;
}

.skill-bars {
    display: flex;
    flex-direction: column;
}

.skill-bar {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background-color: rgb(160, 165, 170);
    border-radius: 5px;
    height: 15px;
    position: relative;
    overflow: hidden;
    /* Hide the overflowing animation for a cleaner look */
}

.progress {
    height: 100%;
    border-radius: 5px;
    background-color: teal;
    /* animation: progressBarAnimation 5s ease-in-out infinite; */
    /* Apply the animation */
}

/* Additional class for animated skills */
.animated-skills .progress {
    animation: progressBarAnimation 10s ease-in-out infinite;
  }

/* Keyframes for the animation */
@keyframes progressBarAnimation {
    0% {
        width: calc(var(--progress-width) - 10%);
        background-color: teal;
    }
    10% {
        width: var(--progress-width);
        background-color: turquoise;
    }
    20% {
        background-color: teal;
    }
}
  